/* Most Common Used Break Points _ 1366px _ 1024px _ 768px _ 568px */
/* Custom Break Points as per Website/Layout Needs _ 500px _600px*/

/*#############################################################################*/
/*################################$(1366px)$###################################*/
/*#############################################################################*/
@media (max-width: 1366px) {
	/* Container */
	.container {
		max-width: 1215px;
	}
}
/*#############################################################################*/
/*################################$(1024px)$###################################*/
/*#############################################################################*/
@media (max-width: 1024px) {
	/* Container */
	.container {
		max-width: 910px;
	}
	/* Header Section */
	.menu-div {
		gap: 6rem;
	}
}
/*#############################################################################*/
/*################################$(768px)$###################################*/
/*#############################################################################*/
@media (max-width: 768px) {
	/* Container */
	.container {
		max-width: 680px;
	}
	/* Header Section */
	.menu-div {
		gap: 2rem;
	}
}
/*#############################################################################*/
/*################################$(600px)$###################################*/
/*#############################################################################*/
@media (max-width: 600px) {
	/* Container */
	.container {
		max-width: 535px;
	}
	/* Header Section Nav Bar */
	.menu-div {
		gap: 1rem;
	}
	.menu-link:link,
	.menu-link:visited {
		font-size: 1.8rem;
	}
	.animated-bar-message {
		font-size: 1.7rem;
	}
	.btn3:link,
	.btn3:visited {
		font-size: 1.7rem;
	}
}
/*#############################################################################*/
/*################################$(568px)$###################################*/
/*#############################################################################*/
@media (max-width: 568px) {
	/* Container */
	.container {
		max-width: 505px;
	}
	/* Header Section Nav Bar */
	.menu-div {
		gap: 1rem;
	}
	.menu-link:link,
	.menu-link:visited {
		font-size: 1.6rem;
	}
	.animated-bar-message {
		font-size: 1.6rem;
	}
	.btn3:link,
	.btn3:visited {
		font-size: 1.5rem;
	}
}
/*#############################################################################*/
/*################################$(500px)$###################################*/
/*#############################################################################*/
@media (max-width: 500px) {
	/* Container */
	.container {
		max-width: 450px;
	}
	/* Header Section Nav Bar */
	.menu-div {
		gap: 1rem;
	}
	.header-text {
		font-size: 3.5rem;
	}
	.menu-link:link,
	.menu-link:visited {
		font-size: 1.1rem;
	}
	.animated-bar-message {
		font-size: 1.7rem;
		text-align: center;
	}
	.btn3:link,
	.btn3:visited {
		font-size: 1.7rem;
		padding: 1rem 0.5rem;
	}
}
